@import './base.css';

.divider {
  width: 100%;
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  background-color: var(--color-tertiary);
}

.divider.small {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.divider.transparent {
  background-color: transparent;
}
